dataset = https://www.kaggle.com/datasets/altavish/boston-housing-dataset

In [156]:
import pandas as pd

In [157]:
dataset = pd.read_csv("HousingData.csv")
dataset.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [158]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [159]:
dataset.shape

(506, 14)

In [160]:
dataset.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [161]:
dataset = dataset.dropna()

In [162]:
dataset.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [163]:
X = dataset.drop('MEDV', axis=1)
y = dataset['MEDV']

In [164]:
from sklearn.model_selection import train_test_split

In [165]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [166]:
from sklearn.preprocessing import StandardScaler, PolynomialFeatures

In [167]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [168]:
poly = PolynomialFeatures(degree=2, include_bias=False)
X_train_poly = poly.fit_transform(X_train_scaled)
X_test_poly = poly.transform(X_test_scaled)

 Linear Regression

In [169]:
from sklearn.linear_model import LinearRegression
import numpy as np
from sklearn.model_selection import  cross_val_score
from sklearn.metrics import mean_squared_error, r2_score

In [170]:
lin_reg = LinearRegression()
lin_reg.fit(X_train_scaled, y_train)


y_pred_lin = lin_reg.predict(X_test_scaled)

In [171]:
mse_lin = mean_squared_error(y_test, y_pred_lin)
rmse_lin = np.sqrt(mse_lin)
r2_lin = r2_score(y_test, y_pred_lin)

print(f"MSE: {mse_lin}")
print(f"RMSE: {rmse_lin}")
print(f"R2 Score: {r2_lin}")

MSE: 31.454047664950842
RMSE: 5.608390826694484
R2 Score: 0.6270849941673194

In [172]:
cv_scores_lin = cross_val_score(lin_reg, X_train_scaled, y_train, cv=5, scoring='neg_mean_squared_error')
rmse_cv_lin = np.sqrt(-cv_scores_lin)
print(f"CV RMSE: {rmse_cv_lin.mean()} +- {rmse_cv_lin.std()}")

CV RMSE: 4.448855817961235 +- 0.3162816922808771

 Ridge Regression

In [173]:
from sklearn.linear_model import Ridge

In [174]:
ridge_reg = Ridge(alpha=0.10)
ridge_reg.fit(X_train_poly, y_train)
y_pred_ridge = ridge_reg.predict(X_test_poly)

In [175]:
mse_ridge = mean_squared_error(y_test, y_pred_ridge)
rmse_ridge = np.sqrt(mse_ridge)
r2_ridge = r2_score(y_test, y_pred_ridge)

print(f"MSE: {mse_ridge}")
print(f"RMSE: {rmse_ridge}")
print(f"R2 Score: {r2_ridge}")

MSE: 19.293547156861685
RMSE: 4.392442049345863
R2 Score: 0.7712582708853915

Lasso Regression

In [176]:
from sklearn.linear_model import Lasso

In [177]:
lasso_reg = Lasso(alpha=0.1)
lasso_reg.fit(X_train_poly, y_train)
y_pred_lasso = lasso_reg.predict(X_test_poly)

In [178]:
mse_lasso = mean_squared_error(y_test, y_pred_lasso)
rmse_lasso = np.sqrt(mse_lasso)
r2_lasso = r2_score(y_test, y_pred_lasso)

print(f"MSE: {mse_lasso}")
print(f"RMSE: {rmse_lasso}")
print(f"R2 Score: {r2_lasso}")

MSE: 22.477247875958493
RMSE: 4.741017599203624
R2 Score: 0.7335127385813107

 Elastic Net Regression

In [179]:
from sklearn.linear_model import ElasticNet

In [180]:
elastic_net = ElasticNet(alpha=0.1, l1_ratio=0.5)
elastic_net.fit(X_train_poly, y_train)
y_pred_en = elastic_net.predict(X_test_poly)

In [181]:
mse_en = mean_squared_error(y_test, y_pred_en)
rmse_en = np.sqrt(mse_en)
r2_en = r2_score(y_test, y_pred_en)

print(f"MSE: {mse_en}")
print(f"RMSE: {rmse_en}")
print(f"R2 Score: {r2_en}")

MSE: 22.37611838042753
RMSE: 4.730340197113473
R2 Score: 0.7347117164304418

Test real data

In [ ]:
sample_house = {
    'CRIM': 0.1,
    'ZN': 12.5,
    'INDUS': 7.5,
    'CHAS': 0.0,
    'NOX': 0.5,
    'RM': 6.3,
    'AGE': 45.0,
    'DIS': 5.0,
    'RAD': 4,
    'TAX': 300,
    'PTRATIO': 16.0,
    'B': 390.0,
    'LSTAT': 12.0
}

sample_df = pd.DataFrame([sample_house])



sample_scaled = scaler.transform(sample_df)
sample_poly   = poly.transform(sample_scaled)

In [183]:
sample_df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.1,12.5,7.5,0.0,0.5,6.3,45.0,5.0,4,300,16.0,390.0,12.0

In [186]:
sample_poly

array([[-0.4038534 ,  0.07543341, -0.56196622, -0.28065481, -0.50737081,
         0.04122102, -0.88448673,  0.61061834, -0.66412431, -0.65177132,
        -1.2084438 ,  0.36689867, -0.13253633,  0.16309757, -0.03046404,
         0.22695197,  0.1133434 ,  0.20490343, -0.01664725,  0.35720298,
        -0.24660029,  0.26820886,  0.26322007,  0.48803414, -0.14817328,
         0.05352525,  0.0056902 , -0.04239103, -0.02117075, -0.03827271,
         0.00310944, -0.06671985,  0.04606102, -0.05009716, -0.04916533,
        -0.09115704,  0.02767642, -0.00999767,  0.31580603,  0.15771852,
         0.28512525, -0.02316482,  0.49705166, -0.34314688,  0.37321543,
         0.36627346,  0.67910459, -0.20618466,  0.07448094,  0.07876712,
         0.14239606, -0.01156888,  0.24823546, -0.17137297,  0.18638968,
         0.18292276,  0.33915557, -0.10297188,  0.03719696,  0.25742513,
        -0.02091434,  0.44876274, -0.30980992,  0.33695729,  0.33068974,
         0.61312911, -0.18615367,  0.06724507,  0.00169917, -0.03645945,
         0.02517031, -0.02737588, -0.02686668, -0.04981329,  0.01512394,
        -0.00546328,  0.78231677, -0.54008381,  0.58740914,  0.57648308,
         1.0688525 , -0.324517  ,  0.11722663,  0.37285475, -0.40552648,
        -0.39798352, -0.73789794,  0.22403505, -0.08092911,  0.4410611 ,
         0.43285718,  0.80255691, -0.24366632,  0.0880206 ,  0.42480585,
         0.78762901, -0.23913403,  0.08638338,  1.46033642, -0.44337642,
         0.16016271,  0.13461463, -0.0486274 ,  0.01756588]])

In [187]:
print("Linear Regression:", lin_reg.predict(sample_scaled)[0])
print("Ridge Regression:", ridge_reg.predict(sample_poly)[0])
print("Lasso Regression:", lasso_reg.predict(sample_poly)[0])
print("Elastic Net Regression:", elastic_net.predict(sample_poly)[0])

Linear Regression: 25.359265713282166
Ridge Regression: 23.227753809248956
Lasso Regression: 23.579415852975444
Elastic Net Regression: 23.878896739446816